@import "bootstrap";
@import 'https://fonts.googleapis.com/css?family=Lato:300,400';

h1,h2,h3,h4,h5 {
  font-family: 'Lato';
  font-weight: 400;
}

.logo {
  width: 424px;
  height: 208px;
  display: block;
  margin: 0 auto;
  padding: 14px;
}

.bg {
  background-image: url('concert.jpg');
  background-position: center;
  background-repeat: no-repeat;
  -webkit-background-size: 100% auto;
  -moz-background-size: 100% auto;
  -o-background-size: 100% auto;
  background-size: 100% auto;
  padding-bottom: 50%;

}
